/* Colors */
/* Global */
body {
  background: #D5E0E6; }

.navbar.navbar-light {
  border-bottom: #ff4741 2px solid;
  padding-left: 3vw;
  background: #fefefe;
  font-size: 2em; }
  .navbar.navbar-light .navbar-brand {
    color: #0d4668;
    font-weight: 700;
    font-size: 1.25em; }
  .navbar.navbar-light .navbar-nav {
    padding-top: 0.25rem; }
  .navbar.navbar-light a.nav-link {
    color: #0d4668; }
    .navbar.navbar-light a.nav-link:hover {
      color: #3facef; }

.container-fluid, .container {
  padding-top: 2.5vh;
  background: #fefefe; }

.container-light {
  color: #132149;
  background: #bcc8d3;
  font-size: 0.5em; }
  .container-light .checkbox-inline {
    padding-top: 1em; }

.container-dark {
  background: #0d4668;
  color: #fefefe;
  font-size: 1.5em; }
  .container-dark a {
    color: #fefefe;
    text-decoration: underline; }
    .container-dark a:hover, .container-dark a:visited {
      color: #fefefe; }

h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif; }

body {
  font-family: 'Open Sans', sans-serif; }

strong {
  font-weight: 800; }

.background-impeachment {
  color: #fefefe;
  background-color: #5e3c99; }

.background-resignation {
  color: #fefefe;
  background-color: #b2abd2; }

.background-action {
  background-color: #ddcae5; }

.background-unknown {
  background-color: #e8e1dd; }

.background-concerned {
  background-color: #edeb6b; }

.background-support {
  color: #fefefe;
  background-color: #e66101; }

/* Splash page */
h1.title {
  font-size: 4em;
  text-transform: uppercase;
  height: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: center; }

h3.callToAction {
  font-size: 2.5em;
  margin-top: 1vh;
  height: 3vh;
  color: #e66101;
  cursor: pointer; }

#map {
  min-height: 31vh;
  margin: 4vh 0; }
  #map.leaflet-container {
    background-color: transparent; }
    #map.leaflet-container .filter-dropshadow {
      filter: url(#filter-dropshadow); }
  #map .leaflet-tooltip {
    padding: 2em; }

.mocCounts {
  text-align: center;
  font-size: 2.5em;
  min-height: 48vh; }
  .mocCounts .photos {
    width: 200px;
    height: 120px;
    margin: 2.5vh auto;
    position: relative; }
    .mocCounts .photos:before {
      content: "";
      z-index: 10;
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0; }
    .mocCounts .photos#photos-impeachment:before {
      background: rgba(94, 60, 153, 0.25); }
    .mocCounts .photos#photos-resignation:before {
      background: rgba(178, 171, 210, 0.25); }
    .mocCounts .photos#photos-action:before {
      background: rgba(221, 202, 229, 0.25); }
    .mocCounts .photos#photos-unknown:before {
      background: rgba(232, 225, 221, 0.25); }
    .mocCounts .photos#photos-concerned:before {
      background: rgba(237, 235, 107, 0.25); }
    .mocCounts .photos#photos-support:before {
      background: rgba(230, 97, 1, 0.25); }
    .mocCounts .photos img {
      -webkit-filter: contrast(160%) brightness(135%) saturate(25%);
      filter: contrast(160%) brightness(135%) saturate(25%);
      opacity: 0.5; }

.mocCounts-impeachment {
  color: #5e3c99; }

.mocCounts-resignation {
  color: #b2abd2; }

.mocCounts-action {
  color: #ddcae5; }

.mocCounts-unkown {
  color: #e8e1dd; }

.mocCounts-concerned {
  color: #edeb6b; }

.mocCounts-support {
  color: #e66101; }

.number {
  font-family: 'Merriweather', serif;
  font-size: 2.25em;
  min-height: 1em;
  line-height: 1; }

/* SignUp Form */
#email-signup-form #email-signup-form-errors > .col {
  color: #ff2800;
  font-size: 1.75em;
  font-weight: 700;
  letter-spacing: 2; }

/* On The Record */
#onTheRecord .btn-group .dropdown .btn {
  background: #ffffff;
  color: #0d4668;
  padding: 0.15em 0.5em;
  margin-right: 1em;
  font-size: 1.5em; }

#onTheRecord .dropdown-menu {
  max-height: 50em;
  overflow-y: auto; }
  #onTheRecord .dropdown-menu .dropdown-item {
    cursor: pointer; }

#onTheRecord #filter-info {
  margin-top: 0.75em; }
  #onTheRecord #filter-info button {
    background: #ff4741;
    border-color: #da0700;
    margin: 0 0.75em 0.75em 0;
    cursor: default; }
    #onTheRecord #filter-info button .fa.fa-times {
      margin-left: 0.5em;
      cursor: pointer; }

#onTheRecord .card {
  min-width: 300px;
  margin-top: 20px; }
  #onTheRecord .card .card-header {
    height: 84px;
    padding-left: 0;
    padding-right: 0; }
    #onTheRecord .card .card-header img {
      filter: saturate(0%);
      height: 100%; }
    #onTheRecord .card .card-header h4, #onTheRecord .card .card-header small {
      display: block;
      text-align: center; }
    #onTheRecord .card .card-header h4 {
      margin-bottom: 0;
      padding-top: 0.4em; }
    #onTheRecord .card .card-header .rep-card-position {
      font-size: 0.9em;
      font-style: italic; }
      #onTheRecord .card .card-header .rep-card-position a {
        color: inherit;
        text-decoration: underline; }
    #onTheRecord .card .card-header .rep-card-subtitle {
      font-size: 1.1em;
      padding: 0.4em 0; }
  #onTheRecord .card .card-body .fa {
    color: #0d4668;
    font-size: 2.25em;
    padding: 0 0.125em; }
    #onTheRecord .card .card-body .fa:hover {
      color: #3facef; }

@media (max-width: 1400px) {
  .container {
    width: 100%;
    max-width: 100%;
    margin: 0; } }

/* Small desktop */
@media (min-width: 992px) {
  .navbar.navbar-light {
    padding-left: 15vw; }
    .navbar.navbar-light .navbar-brand {
      font-size: 1.25rem; }
    .navbar.navbar-light .nav-link {
      font-size: 1rem; }
  h1.title {
    height: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2.5em; }
  h3.callToAction {
    font-size: 2em; }
  #map {
    height: 80vh;
    margin: 2vh 0 1vh 0; }
  .mocCounts {
    height: 60vh;
    font-size: 1.5em;
    justify-content: space-evenly; }
    .mocCounts .photos {
      width: 160px;
      height: 96px; }
      .mocCounts .photos img {
        width: 40px; }
  #onTheRecord .card {
    min-width: 440px; } }

/* Macbook Air */
@media (min-width: 1300px) and (max-width: 1599px) {
  .d-macbook-inline {
    display: inline !important; } }

/* Large desktop */
@media (min-width: 1600px) {
  .container-fluid {
    border-right: auto solid #D5E0E6;
    max-width: 1140px; }
  h1.title {
    height: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 3em; }
  h3.callToAction {
    font-size: 2em; }
  #map {
    height: 56vh;
    margin: 3vh 0 1vh 0; }
  .mocCounts {
    line-height: 1.3;
    min-height: 38vh;
    height: 38vh; }
    .mocCounts .photos {
      margin: 2.5vh auto 0 auto; }
  .number {
    font-size: 2.5em; } }

@media (min-width: 1700px) {
  .container, .container-fluid {
    max-width: 1400px; }
  .mocCounts {
    font-size: 2em; }
  #onTheRecord .card {
    min-width: 350px; } }
