/* Colors */
$impeachment : #5e3c99;
$action      : #b2abd2;
$unknown     : #e8e1dd;
$concerned   : #fdb863;
$support     : #e66101;
$red         : #ff2800;
$white       : #fefefe;
$middle-grey:  #bcc8d3;
// From THP
$brand-primary: #0d4668;
$brand-primary-lighter: lighten($brand-primary, 17.5%);
$brand-secondary: #ff4741; //red
$brand-cool: #b6e5fb;
$brand-text: #132149;
$brand-gray: #d4e0e5;
$light-grey  : #D5E0E6;
$brand-success: #3facef;
$brand-info: #132149;
$brand-secondary-dark : darken($brand-secondary, 20%);
$brand-white: #ffffff;

/* Global */
body {
  background: $light-grey;
}

.navbar.navbar-light {
  border-bottom: $brand-secondary 2px solid;
  padding-left: 3vw;
  background: $white;
  font-size: 2em;

  .navbar-brand {
    color: $brand-primary;
    font-weight: 700;
    font-size: 1.25em;
  }

  .navbar-nav {
    padding-top: 0.25rem;
  }

  a.nav-link {
    color: $brand-primary;
    &:hover {
      color: $brand-success;
    }
  }
}

.container-fluid, .container {
  padding-top: 2.5vh;
  background: $white;
}

.container-light {
  color: $brand-text;
  background: $middle-grey;
  font-size: 0.5em;

  .checkbox-inline {
    padding-top: 1em;
  }
}
.container-dark {
  background: $brand-primary;
  color: $white;
  font-size: 1.5em;

  a {
    color: $white;
    text-decoration: underline;
    &:hover, &:visited {
      color: $white;
    }
  }
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
}

strong {
  font-weight: 800;
}

.background-impeachment {
  color: $white;
  background-color: $impeachment;
}

.background-action {
  background-color: $action;
}

.background-unknown {
  background-color: $unknown;
}

.background-concerned {

  background-color: $concerned;
}

.background-support {
  color: $white;
  background-color: $support;
}


/* Splash page */
h1.title {
  font-size: 4em;
  text-transform: uppercase;
  height: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h3.callToAction {
  font-size: 2.5em;
  margin-top: 1vh;
  height: 3vh;
  color: $support;
  cursor: pointer;
}

#map {
  min-height: 31vh;
  margin: 4vh 0;

  &.leaflet-container {
    background-color:rgba(0,0,0,0.0);

    .filter-dropshadow {
      filter: url(#filter-dropshadow);
    }
  }

  .leaflet-tooltip {
    padding: 2em;
  }
}

.mocCounts {
  text-align: center;
  font-size: 2.5em;
  min-height: 48vh;

  .photos {
    width: 200px;
    height: 120px;
    margin: 2.5vh auto;
    position: relative;

    &:before {
      content: "";
      z-index: 10;
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    
    &#photos-impeachment:before {
      background: rgba($impeachment, 0.25);
    }

    &#photos-action:before {
      background: rgba($action, 0.25);
    }

    &#photos-unknown:before {
      background: rgba($unknown, 0.25);
    }

    &#photos-concerned:before {
      background: rgba($concerned, 0.25);
    }

    &#photos-support:before {
      background: rgba($support, 0.25);
    }

    img {
      -webkit-filter: contrast(160%) brightness(135%) saturate(25%);
      filter: contrast(160%) brightness(135%) saturate(25%);
      opacity: 0.5;
    }
  }
}

.mocCounts-impeachment {
  color: $impeachment;
}

.mocCounts-action {
  color: $action;
}

.mocCounts-unkown {
  color: $unknown;
}

.mocCounts-concerned {
  color: $concerned;
}

.mocCounts-support {
  color: $support;
}

.number {
  font-family: 'Merriweather', serif;
  font-size: 2.25em;
  min-height: 1em;
  line-height: 1;
}


/* On The Record */
#onTheRecord {
  .btn-group .dropdown .btn {
    background-color: $brand-secondary;
    color: $white;
    margin-right: 1em;
    font-size: 1.5em;
  }

  .card {
    min-width: 300px;
    max-width: 395px;
    margin: 20px 25px;

    .card-header {
      height: 84px; //Size of header on THP MoC cards
      padding-left: 0;
      padding-right: 0;

      img {
        filter: saturate(0%);
        height: 100%;
      }

      h4, small {
        display: block;
        text-align: center;
        padding-top: 0.4em;
      }

      small {
        font-size: 1em;
      }
    }

    .card-body {
      .fa {
        color: $brand-primary;
        &:hover {
          color: $brand-success;
        }
        font-size: 2.25em;
        padding: 0 0.125em;
      }
    }
  }
}


// Make anything under 1400 full bleed.   Yes, I know we should use columns for this...but it just seems like so much extra code for no good reason
@media (max-width:1400px) {
  .container {
      width: 100%;
      max-width: 100%;
      margin: 0;
  }
}

/* Small desktop */
@media (min-width: 992px) {
  .navbar.navbar-light {
    padding-left: 15vw;
    .navbar-brand {
      font-size: 1.25rem;
    }
    .nav-link {
      font-size: 1rem;
    }
  }
  h1.title {
    height: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2.5em;
  }

  h3.callToAction {
    font-size: 2em;
  }

  #map {
    height: 80vh;
    margin: 2vh 0 1vh 0;
  }

  .mocCounts {
    height: 48vh;
    font-size: 1.75em;
    justify-content: space-evenly;

    .photos {
      width: 160px;
      height: 96px;

      img {
        width: 40px;
      }
    }
  }
}

/* Large desktop */
@media (min-width: 1600px) {
  .container-fluid {
    border-right: auto solid $light-grey;
    max-width: 1140px;
  }

  h1.title {
    height: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 3em;
  }

  h3.callToAction {
    font-size: 2em;
  }

  #map {
    height: 56vh;
    margin: 3vh 0 1vh 0;
  }

  .mocCounts {
    font-size: 2em;
    line-height: 1.3;
    min-height: 38vh;
    height: 38vh;

    .photos {
      margin: 2.5vh auto 0 auto;
    }
  }

  .number {
    font-size: 2.5em;
  }
}

// Extra Large Desktop
@media (min-width: 1700px) {
  .container, .container-fluid {
    max-width: 1400px;
  }
}
