body {
  background: #f2f2f2;
}

body > .container {
  background: #fff;
  padding-top: 4vh;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

strong {
  font-weight: 800;
}

.red {
  color: #c1001a;
}

h1.title {
  font-weight: 900;
  font-size: 4em;
  text-transform: uppercase;
  height: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h3.callToAction {
  font-size: 2.5em;
  margin-top: 2vh;
  height: 4vh;
}

p {
  font-family: 'Open Sans', sans-serif;
}

#map {
  min-height: 25vh;
}

#map.leaflet-container {
  background-color:rgba(0,0,0,0.0);
}

#map.leaflet-container .filter-dropshadow {
  filter: url(#filter-dropshadow);
}

.mocCounts {
  text-align: center;
  font-size: 2.5em;
  height: 57vh;
}

.mocCounts-opposed {
  color: #3870b3;
}

.mocCounts-concerned {
  color: #84b4d6;
}

.mocCounts-unkown {
  color: #cecece;
}

.mocCounts-support {
  color: #c1001a;
}

.mocCounts .photos {
  width: 250px;
  height: 180px;
  margin: 2.5vh auto;
  position: relative;
}

.mocCounts .photos img {
  -webkit-filter: contrast(160%) brightness(135%) saturate(25%);
  filter: contrast(160%) brightness(135%) saturate(25%);
  opacity: 0.5;
}

.mocCounts .photos:before {
  content: "";
  z-index: 10;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.mocCounts #photos-opposed:before {
  background: rgba(56, 112, 179, 0.25);
}

.mocCounts #photos-concerned:before {
  background: rgba(132, 180, 214, 0.25);
}

.mocCounts #photos-unknown:before {
  background: rgba(206, 206, 206, 0.25);
}

.mocCounts #photos-support:before {
  background: rgba(103, 0, 26, 0.25);
}

.number {
  font-family: 'Merriweather', serif;
  font-size: 2.25em;
  min-height: 1.5em;
}


@media (min-width: 992px) { 
  h1.title {
    height: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 3em;
  }

  h3.callToAction {
    margin-top: 1.5vh;
    height: 4vh;
    font-size: 2.25em;
  }

  #map {
    height: 40vh;
    margin: 3vh 0 2vh 0;
  }

  .mocCounts {
    height: 41vh;
    font-size: 2em;
  }

  .mocCounts .photos {
    margin: 5vh auto 0 auto;
  }
  
  .number {
    font-size: 2.5em;
  }
}