/* Colors */
$dark-purple      : #542788;
$light-purple     : #998ec3;
$yellow           : #FFE400;
$dark-orange      : #D37000;
$lighest-purple   : #ddcae5;
$midtone     : #c6c6c6;
$orange : #fdb863;
$brown : #e66101;
$red         : #ff2800;
$white       : #fefefe;
$middle-grey:  #bcc8d3;

// From THP
$brand-primary: #0d4668;
$brand-primary-lighter: lighten($brand-primary, 17.5%);
$brand-secondary: #ff4741; //red
$brand-cool: #b6e5fb;
$brand-text: #132149;
$brand-gray: #d4e0e5;
$light-grey  : #D5E0E6;
$brand-success: #3facef;
$brand-info: #132149;
$brand-secondary-dark : darken($brand-secondary, 20%);
$brand-white: #ffffff;

/* Global */
body {
  background: $light-grey;
}

.container-fluid {
  padding: 0px;
}

.loading {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 3000;
  background: #8080807a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border-color: transparent;
}
.nav-link.active {
  border-color: transparent;
  border-bottom: 2px solid $brand-primary!important;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-color: transparent;
  border-bottom: 2px solid $dark-purple;
}

.navbar.navbar-light {
  border-bottom: $brand-secondary 2px solid;
  padding-left: 3vw;
  background: $white;

  .navbar-brand {
    color: $brand-primary;
    font-weight: 700;
    font-size: 1.25em;
  }

  .navbar-nav {
    padding-top: 0.25rem;
  }

  a.nav-link {
    color: $brand-primary;
    &:hover {
      color: $brand-success;
    }
  }
}

.meta-data {
  padding: 20px;
  background: #f8f9fa;
  box-shadow: inset 0px 0px 12px 4px #dbdbdb;
}

.map-container {
  padding: 20px;
  .input-group {
    width: 30%;
    margin: auto;
  }
}

.progress-container {
  margin: auto;
}

.bar-graph {
  padding-top: 20px;
}

.container-fluid, .container {
  background: $white;
}

.container-light {
  color: $brand-text;
  background: $middle-grey;
  font-size: 0.5em;

  .checkbox-inline {
    padding-top: 1em;
  }
}
.container-dark {
  background: $brand-primary;
  color: $white;
  font-size: 1.2em;

  a {
    color: $brand-cool;
    text-decoration: underline;
    &:hover, &:visited {
      color: lighten($brand-cool, 50%);
    }
  }
}

h1, h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
}

body {
  font-family: 'Raleway', sans-serif;
}

strong {
  font-weight: 800;
}

.background-impeachment {
  color: $white;
  background-color: $dark-purple;
}

.background-inquiry {
  color: $white;
  background-color: $light-purple;
}

.background-inquiry {
  background-color: $light-purple;
}

.background-unclear {
  background-color: $midtone;
}

.background-concerned {
  background-color: $orange;
}

.background-opposed {
  color: $white;
  background-color: $brown;
}


/* Splash page */
h1.title {
  font-size: 4em;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h3.callToAction {
  margin-top: 1vh;
  color: $dark-purple;
  cursor: pointer;
}

#takeAction {
  h4 {
    text-transform: uppercase;
  }
}

#map {
  min-height: 75vh;
  margin: 4vh 0;

  .leaflet-control-container {
    .leaflet-bar {
      border: 1px solid $middle-grey;
    }

    .mapboxgl-ctrl-usa.ant-btn {
      padding: 0;
      border: none;
    }

    .usa-icon {
      width: 20px;
      height: 20px;
      margin: 5px;
      background-image: url('../assets/images/usa.svg');
      background-size: 20px 20px;
      background-repeat: no-repeat;
      display: inline-block;
    }
  }

  &.leaflet-container {
    background-color:rgba(0,0,0,0.0);
  }

  .leaflet-tooltip {
    .tooltip-container{
      min-width: 200px;
    }
    h4 {
      font-size: 12px;
    }
    .response {
      padding-left: 0.5em;
      padding-right: 0.5em;
      text-align: right;
    }

    .subtitle {
      color: ligten($brand-text, 80%);
      font-size: .6em;
      border-bottom: 0.5px solid ligten($brand-text, 50%);
    }
  }

}

.mocCounts {
  text-align: center;
  padding-top: 1em;
  .count-container {
    max-width: 200px;
    display: flex;
    flex-flow: column;
  }
  .photos {
    width: 200px;
    height: 120px;
    margin: auto;
    margin-bottom: 2.5vh;
    position: relative;

    &:before {
      content: "";
      z-index: 10;
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    &#photos-impeachment:before {
      background: rgba($dark-purple, 0.25);
    }

    &#photos-inquiry:before {
      background: rgba($light-purple, 0.25);
    }

    &#photos-action:before {
      background: rgba($light-purple, 0.25);
    }

    &#photos-unclear:before {
      background: rgba($midtone, 0.25);
    }

    &#photos-concerned:before {
      background: rgba($orange, 0.25);
    }

    &#photos-opposed:before {
      background: rgba($brown, 0.25);
    }

    img {
      -webkit-filter: contrast(160%) brightness(135%) saturate(25%);
      filter: contrast(160%) brightness(135%) saturate(25%);
      opacity: 0.5;
    }
  }
}

.mocCounts-impeachment {
  color: $dark-purple;
}

.mocCounts-inquiry {
  color: $light-purple;
}

.mocCounts-unclear {
  color: $middle-grey;
}

.mocCounts-concerned {
  color: $orange;
}

.mocCounts-opposed {
  color: $brown;
}

.number {
  font-family: 'Merriweather', serif;
  font-size: 2.25em;
  min-height: 1em;
  line-height: 1;
}

/* SignUp Form */


#email-signup-form {
  #email-signup-form-errors > .col {
    color: $red;
    font-size: 1.75em;
    font-weight: 700;
    letter-spacing: 2;
  }
}

/* On The Record */
#onTheRecord {
  .search-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-flow: wrap;
  }
  .btn-group {
    margin: auto;
    .dropdown {
      margin: auto;
    }
  }
  .btn-group .dropdown .btn {
    background: $brand-secondary;
    color: $brand-white;
    padding: 0.15em 0.5em;
    margin-right: 1em;
    font-size: 1em;
  }

  .input-group {
    width: initial;
  }

  .dropdown-menu {
    max-height: 50em;
    overflow-y: auto;

    .dropdown-item {
      cursor: pointer;
    }
  }

  #filter-info {
    margin-top: 0.75em;
    button {
      background: $brand-secondary;
      border-color: $brand-secondary-dark;
      margin: 0 0.75em 0.75em 0;
      cursor: default;
      .fa.fa-times {
        margin-left: 0.5em;
        cursor: pointer;
      }
    }
  }

  .card {
    min-width: 300px;
    margin-top: 20px;

    .card-header {
      height: 100px; //Size of header on THP MoC cards
      padding-left: 0;
      padding-right: 0;

      img {
        filter: saturate(0%);
        height: 100%;
      }

      h4, small {
        display: block;
        text-align: center;
      }

      h4 {
        margin-bottom: 0;
        padding-top: 0.4em;
      }

      .rep-card-position {
        font-size: 0.9em;
        font-style: italic;

        a {
          color: inherit;
          text-decoration: underline;
        }
      }

      .rep-card-subtitle {
        font-size: 1.1em;
        padding: 0.4em 0;
      }
    }

    .card-body {
      .fa {
        color: $brand-primary;
        &:hover {
          color: $brand-success;
        }
        font-size: 2.25em;
        padding: 0 0.125em;
      }
    }
  }
}


// Make anything under 1400 full bleed.   Yes, I know we should use columns for this...but it just seems like so much extra code for no good reason
@media (max-width:1400px) {
  .container {
      width: 100%;
      max-width: 100%;
      margin: 0;
  }
}

/* Small desktop */
@media (min-width: 992px) {
  .navbar.navbar-light {
    padding-left: 15vw;
    .navbar-brand {
      font-size: 1.25rem;
    }
    .nav-link {
      font-size: 1rem;
    }
  }
  h1.title {
    height: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2.5em;
  }

  h3.callToAction {
    font-size: 2em;
  }

  #map {
    height: 80vh;
    margin: 2vh 0 1vh 0;
  }

  .mocCounts {

    .photos {
      width: 160px;
      height: 96px;

      img {
        width: 40px;
      }
    }
  }
}

/* Macbook Air */
@media (min-width: 1300px) and (max-width: 1599px) {
  .d-macbook-inline {
    display: inline!important;
  }
}

/* Large desktop */
@media (min-width: 1600px) {
  .container-fluid {
    border-right: auto solid $light-grey;
    max-width: 1140px;
  }

  h1.title {
    height: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 3em;
  }

  h3.callToAction {
    font-size: 2em;
  }

  #map {
    height: 56vh;
    margin: 3vh 0 1vh 0;
  }

  .mocCounts {
    line-height: 1.3;

    .photos {
      margin: 2.5vh auto 0 auto;
    }
  }

  .number {
    font-size: 2.5em;
  }
}

// Extra Large Desktop
@media (min-width: 1700px) {
  .container, .container-fluid {
    max-width: 1400px;
  }

  .mocCounts {
    font-size: 1.5em;
  }

  #onTheRecord .card {
    min-width: 350px;
  }
}
